<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html>
<head>
    <title>Yōjanā</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Project Publishing Portal"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/avgrund.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/floating-menu.css" %}"/>

    <script>
        function openDialog() {
            Avgrund.show("#container");
        }
        function closeDialog() {
            Avgrund.hide();
        }
    </script>
</head>
<body>
    <div id="navbar">
        <div id="left">Yōjanā</div>
        <!--<button id="right">Sign In</button>-->
        {% if not user or not user.username %}
        <button class="btn btn-large btn-block btn-success" id="right-unlogged" onclick="javascript:openDialog();">Sign In</button>
        {% else %}
        <div id="right-logged">
            <ul class="signed-user">
                <li class="active">
                    <a href="#">Welcome <strong>{{user.username}}</strong></a>
                    <ul>
                        <li><a href="/home/">Home</a></li>
                        <li><a href="/profile/{{user.username}}">Dashboard</a></li>
                        <li><a rel="nofollow" href="/forum/">Forum</a></li>
                        <li><a rel="nofollow" href="/logout/">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div id="slider">
        <!--
        <iframe style="width:60%;height:100%;margin-left:20%;" src="http://www.youtube.com/embed/tGaPHteLEdQ" frameborder="0" allowfullscreen></iframe>
        -->
    </div>
    <hr width="100%"/>
    <div id="options">
        <a href="/projects" onmouseover="javascript:showProjects(event)" onmouseout="javascript:hideProjects(event)"><div id="left"><div id="projects"><span id="projects-text"></span></div></div></a>
        <a href="/profiles" onmouseover="javascript:showProfiles(event)" onmouseout="javascript:hideProfiles(event)"><div id="center"><div id="profiles"><span id="profiles-text"></span></div></div></a>
        <a href="/about" onmouseover="javascript:showAbout(event)" onmouseout="javascript:hideAbout(event)"><div id="right"><div id="about"><span id="about-text"></span></div></div></a>
    </div>
    <footer>&copy;2013 Yōjanā</footer>
    <div id="container" class="avgrund-popup">
        <a id="linkedin" href="{% url "socialauth_begin" "linkedin" %}"></a>
        <a id="github" href="{% url "socialauth_begin" "github" %}"></a>
        <a id="bitbucket" href="{% url "socialauth_begin" "bitbucket" %}"></a><br/>
        <button class="btn btn-large btn-block btn-success" id="close" onclick="javascript:closeDialog();">Close</button>
    </div>
    <div class="avgrund-cover"></div>
    <script type="text/javascript" src="{% static "js/avgrund.js" %}"></script>
    <script src="{% static "js/jquery-1.8.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.avgrund.js" %}"></script>
    <script type="text/javascript" src="{% static "js/video.js" %}"></script>
    <script type="text/javascript">
    function showProjects (e) { $('#projects-text').text('Projects'); }
    function hideProjects (e) { $('#projects-text').text(''); }
    function showProfiles (e) { $('#profiles-text').text('Profiles'); }
    function hideProfiles (e) {$('#profiles-text').text(''); }
    function showAbout (e) { $('#about-text').text('About'); }
    function hideAbout (e) {$('#about-text').text(''); }
    </script>
    <script type="text/javascript">
    $("video.source").attr("src", "{% static "img/video/sintel.mp4" %}");
    $("video.source").attr("type", "video/mp4");
    </script>
</body>
</html>