<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html>
<head>
    <title>Profiles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/avgrund.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/floating-menu.css" %}"/>
    <style type="text/css">
    #list {
        padding-top: 55px;
        margin-left: 10%;
        padding-left: 7%;
        width: 62%;
        height: 75%;
        overflow:auto;
    }
    ul {
        list-style-type: none;
    }
    a {
        font-size: 20px;
        text-decoration: none;
    }
    </style>
    <script>
        function openDialog() {
            Avgrund.show("#container");
        }
        function closeDialog() {
            Avgrund.hide();
        }
    </script>
</head>
<body>
    <div id="navbar">
        <div id="left">{% block title %} Yōjanā Projects {% endblock %}</div>
        <!--<button id="right">Sign In</button>-->
        {% if not user or not user.username %}
        <button class="btn btn-large btn-block btn-success" id="right-unlogged" onclick="javascript:openDialog();">Sign In</button>
        {% else %}
        <div id="right-logged">
            <ul class="signed-user">
                <li class="active">
                    <a href="#"><strong>{{user.username}}</strong></a>
                    <ul>
                        <li><a href="/home/">Home</a></li>
                        <li><a href="/profile/{{user.username}}">Dashboard</a></li>
                        <li><a rel="nofollow" href="/forum/">Forum</a></li>
                        <li><a rel="nofollow" href="/logout/">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div id="list">
        <ul>
            {% block topic %}
            {% for project in projects %}
                <li><a href="/project/{{project.url}}">{{project.name}}</a></li>
                <hr/>
            {% endfor %}
            {% endblock %}
        </ul>
    </div>
    <footer>&copy;2013 Yōjanā</footer>
    <div id="container" class="avgrund-popup">
        <a id="linkedin" href="{% url "socialauth_begin" "linkedin" %}"></a>
        <a id="github" href="{% url "socialauth_begin" "github" %}"></a>
        <a id="bitbucket" href="{% url "socialauth_begin" "bitbucket" %}"></a><br/>
        <button class="btn btn-large btn-block btn-success" id="close" onclick="javascript:closeDialog();">Close</button>
    </div>
    <div class="avgrund-cover"></div>
    <script type="text/javascript" src="{% static "js/avgrund.js" %}"></script>
</body>
</html>