<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html>
<head><title>Complete Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/new-user.css" %}"/>
</head>
<body>
<form id="container">
    {% csrf_token %}
    <label>Your registration is almost complete 
        {% if user.first_name %}
            {{user.first_name}}
        {% endif %}
        {% if user.last_name %}
            {{user.last_name}}
        {% endif %}!<br/><br/>
        Enter your USN</label><br/><br/>
    <input type="text" name="usn" id="usn" placeholder="University Serial Number"/><br/>
    <input type="submit" name="submitter" id="submitter" onclick="javascript:validate(event)"/><br/><br/>
    <label id="wrong"></label>
</form>
<script src="{% static "js/jquery-1.8.2.min.js" %}"></script>
<script type="text/javascript">
    function validate(e) {
        e.preventDefault();
        var re = new RegExp(/^(\d{1})([A-Z]{2})(\d{2})([A-Z]{2})(\d{3})$/);
        if(!re.test($('#usn').val())) {
            $('#wrong').text('Incorrect USN format. Please submit again with correct credentials');
        }
        else {
            $("#container").attr('action', '/usn/');
            $("#container").attr('method', 'POST');
            $("#container").submit();
        }
    }
</script>
</body>
</html>