.signed-user > li:hover > ul {
    top: 100%; }
  .signed-user > li > ul {
    padding-top: 13px;
    top: 80%;
    background-color: white\9; }
    .signed-user > li > ul:before {
      content: "";
      border-style: solid;
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent #34495e transparent;
      height: 0px;
      position: absolute;
      left: 100px;
      top: 5px;
      width: 0px;
      -webkit-transform: rotate(360deg); }
    .signed-user > li > ul li:hover ul {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      visibility: visible;
      display: block\9; }
    .signed-user > li > ul li ul {
      left: 100%; }
  .signed-user > li > a {
    padding: 14px 15px 17px; }}
    .signed-user > li > a:hover {
      color: #1abc9c; }
  .signed-user li {
    position: relative; }
    .signed-user li:hover > ul {
      opacity: 1;
      z-index: 100;
      -webkit-transform: scale(1, 1);
      visibility: visible;
      display: block\9; }
  .signed-user ul {
    border-radius: 4px;
    left: 15px;
    list-style-type: none;
    margin-left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 234px;
    z-index: -100;
    -webkit-transform: scale(1, 0.99);
    -webkit-transform-origin: 0 0;
    visibility: hidden;
    display: none\9;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-backface-visibility: hidden; }
    .signed-user ul ul {
      left: 95%;
      padding-left: 5px; }
    .signed-user ul li {
      background-color: #34495e;
      padding: 0 3px 3px; }
      .signed-user ul li:first-child {
        border-radius: 4px 4px 0 0;
        padding-top: 3px; }
      .signed-user ul li:last-child {
        border-radius: 0 0 4px 4px; }
      .signed-user ul li.active > a, .signed-user ul li.active > a:hover {
        background-color: #1abc9c;
        color: white; }
    .signed-user ul a {
      border-radius: 2px;
      color: white;
      display: block;
      font-size: 14px;
      padding: 6px 9px;
      text-decoration: none; }
      .signed-user ul a:hover {
        background-color: #1abc9c; }/*#1abc9c;#1f9400;*/
