/* Ubuntu font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  left: 45%;
  top: 45%;
  font-family: 'Ubuntu';
}

@media only screen and (max-device-width: 480px) {
         body {
              zoom: 250%;
         }
    }

#container, #takename {
  width:300px;
  margin: 20px auto;
  overflow-x: visible;
  overflow-y: auto;
}

input {
  border:1px solid #ccc;
  font-size:15px;
  width:285px;
  min-height:20px;
  display:block;
  margin-bottom:2px;
  margin-top:2px;
  outline: none;
  padding: 5px;
  border-color: #078446;

  box-shadow:0 0 5px rgba(31, 148, 0, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(31, 148, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(31, 148, 0, 0.8);
  -o-box-shadow: 0 0 5px rgba(31, 148, 0, 0.8);
  -ms-box-shadow: 0 0 5px rgba(31, 148, 0, 0.8);

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

input:hover {
    border-color: #078446;
    box-shadow:0 0 5px rgba(74, 201, 37, 0.8);
    -webkit-box-shadow: 0 0 5px rgba(74, 201, 37, 0.8);
    -moz-box-shadow: 0 0 5px rgba(74, 201, 37, 0.8);
    -o-box-shadow: 0 0 5px rgba(74, 201, 37, 0.8);
    -ms-box-shadow: 0 0 5px rgba(74, 201, 37, 0.8);
}

input[type=submit] {
  width: 300px;
  background:#1f9400;
  padding:10px;
  padding-left: 15px;
}
input[type=submit]:hover {
  width: 300px;
  background:#4ac925;
  padding:10px;
  padding-left: 15px;
}