@import url('base.css');

#navbar #left {
    margin-top: 10px;
}

#navbar #left a {
    font-size: 15px;
}

#navbar #right {
    float: right;
    color: white;
    margin-right: 20%;
    margin-top: 10px;
    font-size: 30px;
}

#navbar #right #new-project, #submitname, #done {
    float: right;
    width: 100%;
    border-radius: 6px 6px 6px 6px;
}

#list-container {
    margin-top: 110px;
    height: 75%;
    overflow: auto;
}

#list {
    margin-left: 16.5%;
    width: 64%;
}

#list li {
    display: inline;
    width:80%;
    margin-right: 20%;
}

#remove {
    display: inline;
    float: right;
}

#list hr {
    width: 98%;
}

#uploader {
    width: 100%;
    /*height: 200px;*/
}

#uploader #name {
    margin-left: 30%;
}

#upload {
  top: 200px;
  width: 750px;
  /*height: 350px;*/
}

#takename {
  top:20%;
}

div.default.message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url(../img/spritemap.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  div.default.message {
    background-image: url(../img/spritemap@2x.png);
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
div.default.message span {
  display: none;
}

#navbar a {
    color: white;
}

#navbar a:hover {
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
