/* Ubuntu font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(flat-ui.css);

html {
    background-color: #484848;
}

html body {
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: 'Ubuntu';
    display: inline;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow-x: hidden;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

#navbar {
    height:50px;
    width:100%;
    position: fixed;
    background-color: rgba(51, 204, 51, 0.8);
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#navbar #left {
    font-size: 30px;
    font-weight: bolder;
    float: left;
    color: white;
    margin:5px;
    margin-left: 20%;
}

#navbar #right-unlogged {
    float: right;
    width: 10%;
    margin-right: 20%;
}

#navbar #right-logged {
    color: white;
    float: right;
    width: auto;
    height: inherit;
    margin-right: 20%;
    font-size: 20px;
}

#navbar #right-logged ul {
    list-style-type: none;
}

#navbar #right-logged ul li a {
    text-decoration: none;
    color: white;
}

#container {
}

#container #linkedin {
    width:200px;
    height: 100px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/LinkedIn-Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}

#container #github {
    width:200px;
    height: 100px;
    border: 1px solid black;
    float: left;
    background-image: url(../img/github-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}

#container #bitbucket {
    width:200px;
    height: 100px;
    border: 1px solid black;
    float: right;
    background-image: url(../img/BitBucket-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}

#container #close {
    float: right;
    margin-top: 10px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

#slider {
    padding-top: 55px;
    height: 50%;
    display:block;
}

#options {
    height:25%;
    display: block;
    text-align: center;
    margin-top: 25px;
}

#options #left {
    margin-left: 20%;
    width:150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    background-color: rgba(51, 204, 51, 0.8);
    background-image: url(../img/clipboard.png);
}

#options #center {
    position: absolute;
    left:45%;
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    background-color: rgba(51, 204, 51, 0.8);
    background-image: url(../img/book.png);
}

#options #right {
    margin-right:20%;
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 50%;
    background-color: rgba(51, 204, 51, 0.8);
    background-image: url(../img/colors.png);
}

#options #left #projects:hover, #options #center #profiles:hover, #options #right #about:hover {
    background-color: rgba(51, 204, 51, 0.6);
    border-radius:50%;
    height: 150px;

    -webkit-transition: background 0.5s ease-in;
    -moz-transition: background 0.5s ease-in;
    -ms-transition: background 0.5s ease-in;
    -o-transition: background 0.5s ease-in;
    transition: background 0.5s ease-in;
}

#options #left #projects span, #options #center #profiles span, #options #right #about span {
    display: inline-block;
    width: 100%;
    line-height: 0%;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 50%;
    z-index: 100;
}

#options #left span:hover, #options #center span:hover, #options #right span:hover {
    display: inline-block;
    width: 100%;
    line-height: 0%;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 50%;
    position: inline;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 50%;

    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;
}

.video-js {
    margin-left: 20%;
}

footer {
    position: absolute;
    font-size: auto;
    height: 3%;
    width: auto;
    background-color: rgba(51, 204, 51, 0.8);
    color: white;
    text-align: center;
    bottom: 0px;
    padding: 9.25px;
    width: 100%;
}