<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <footer>&copy;2013 Yōjanā</footer>
</body>
</html>