{% extends "lists/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/avgrund.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/new-user.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.css" %}"/>
    <script src="{% static "js/dropzone.js" %}"></script>
    <script>
        function openDialog() {
            Avgrund.show("#upload");
        }
        function closeDialog() {
            Avgrund.hide();
        }
    </script>
{% endblock %}

{% block body %}
    <div id="navbar">
        <div id="left">
            {{username}}
            <br/><a href="/home/">Home</a>
        </div>
        <div id="right">
            {{profile.usn}}<br/>
            {% if user.username == username %}
                <button class="btn btn-large btn-block btn-success" id="new-project" onclick="javascript:openDialog()">New Project</button>
            {% endif %}
        </div>
    </div>
    <div id="list-container">
        <div id="list">
            {% if numberOfProjects == 0 %}
                {% if username == user.username %}
                    You currently have no projects in your profile. Click on the "New Project" above to begin
                {% else %}
                    There are no projects to show
                {% endif %}
            {% else %}
                <ul>
                {% for project in profile.projects %}
                    <li><a href="/project/{{project.url}}" onclick="javascript:location.reload(forceGet=true);">{{project.name}}</a></li>
                    <hr style="width:98%;"/>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div id="upload" class="avgrund-popup">
        <form action="/upload/" class="dropzone" id="uploader" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="text" id="name" name="name" form="uploader" placeholder="Enter the name of your Project"></input>
        </form>
        <button class="btn btn-large btn-block btn-success" id="done" onclick="javascript:location.reload(forceGet=true);">Done</button>
    </div>
    <div class="avgrund-cover"></div>
    <script type="text/javascript" src="{% static "js/avgrund.js" %}"></script>
    <script src="{% static "js/jquery-1.8.2.min.js" %}"></script>
    <script type="text/javascript">
    $(document).ready( function() {
        var myDropzone = Dropzone.forElement("#uploader");
        myDropzone.on("addedfile", function(file) {
            if($("#name").val().length == 0) {
                alert("Please enter a name for your project before uploading");
                myDropzone.removeFile(file);
            }
        });
    })
    </script>
{% endblock %}
