{% extends "lists/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/avgrund.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/new-user.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.css" %}"/>
    <script src="{% static "js/dropzone.js" %}"></script>
    <script>
        function openDialog() {
            Avgrund.show("#upload");
        }
        function closeDialog() {
            Avgrund.hide();
        }
    </script>
{% endblock %}

{% block body %}
    <div id="navbar">
        <div id="left">
            {{project.name}}
            <br/><a href="/profile/{{user.username}}">Back</a>
        </div>
        <div id="right">
            {{project.contributor}}<br/>
            {% if user.username == project.contributor %}
                <button class="btn btn-large btn-block btn-success" id="new-project" onclick="javascript:openDialog()">Update Project</button>
            {% endif %}
        </div>
    </div>
    <div id="list-container">
        <div id="list">
            {% if numberOfFiles == 0 %}
                {% if username == user.username %}
                    You currently have no files in your project. Click on the "Update project" above to begin!
                {% else %}
                    No files have been uploaded yet to this project
                {% endif %}
            {% else %}
                <ul>
                {% for sourcefile in project.sources %}
                    <li><a href="/project/{{project.url}}/{{sourcefile.filename}}">{{sourcefile.filename}}</a></li><span id="remove"><a href="/project/{{project.url}}/{{sourcefile.filename}}/delete/">remove</a></span>
                    <hr/>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
    <div id="upload" class="avgrund-popup">
        <form action="/upload/" class="dropzone" id="uploader" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" id="name" name="name" value="{{project.name}}"></input>
        </form>
        <button class="btn btn-large btn-block btn-success" id="done" onclick="javascript:location.reload(forceGet=true);">Done</button>
    </div>
    <div class="avgrund-cover"></div>
    <script type="text/javascript" src="{% static "js/avgrund.js" %}"></script>
    <script src="{% static "js/jquery-1.8.2.min.js" %}"></script>
    <script type="text/javascript">
    $(document).ready( function() {
        var myDropzone = Dropzone.forElement("#uploader");
        myDropzone.on("addedfile", function(file) {
            if($("#name").val().length == 0) {
                alert("Please enter a name for your project before uploading");
                myDropzone.removeFile(file);
            }
        });


    })
    </script>
{% endblock %}
