{% extends "lists/base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/avgrund.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/new-user.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/school_book.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/showsource.css" %}"/>
    <link rel="stylesheet" href="http://cdn.moot.it/1.0/moot.css"/>
    <script src="{% static "js/dropzone.js" %}"></script>
    <script>
        function openDialog() {
            Avgrund.show("#upload");
        }
        function closeDialog() {
            Avgrund.hide();
        }
    </script>
{% endblock %}

{% block body %}
    <div id="navbar">
        <div id="left">
            {{project.name}}
            <br/><a href="/project/{{project.url}}">Project Home</a>
        </div>
        <div id="right">
            {{project.contributor}}<br/>
            {% if user.username == project.contributor %}
                <button class="btn btn-large btn-block btn-success" id="new-project" onclick="javascript:openDialog()">Update Project</button>
            {% endif %}
        </div>
    </div>
    <div id="list-container">
        <div id="list">
<pre><code>
{{sourcecode}}
</code></pre>
        </div>
        <a class="moot" href="http://api.moot.it/yojana/blog/my-large-blog-entry"></a>
    </div>
    <div id="upload" class="avgrund-popup">
        <form action="/upload/" class="dropzone" id="uploader" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" id="name" name="name" value="{{project.name}}"></input>
        </form>
        <button class="btn btn-large btn-block btn-success" id="done" onclick="javascript:location.reload(forceGet=true);">Done</button>
    </div>
    <div class="avgrund-cover"></div>
    <script type="text/javascript" src="{% static "js/avgrund.js" %}"></script>
    <script src="{% static "js/jquery-1.8.2.min.js" %}"></script>
    <script src="http://cdn.moot.it/1.0/moot.min.js"></script>
    <script src="{% static "js/highlight.pack.js" %}"></script>
    <script type="text/javascript">
    $(document).ready( function() {
        var myDropzone = Dropzone.forElement("#uploader");
        myDropzone.on("addedfile", function(file) {
            if($("#name").val().length == 0) {
                alert("Please enter a name for your project before uploading");
                myDropzone.removeFile(file);
            }
        });
        hljs.initHighlightingOnLoad();
    });
    </script>
{% endblock %}
